<div class="header header-fill unselectable header-fixed no-transition header-animated">
    <div class="header-brand">
        <div class="nav-item no-hover">
            <a href="./">
                <h6 class="title">Phraze</h6>
            </a>
        </div>
        <div class="nav-item nav-btn" id="header-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="header-nav" id="header-menu">
        
        <div class="nav-right">
            <div class="nav-item">
                <a href="./dashboard">Dashboard</a>
            </div>
            <div class="nav-item" id="login">
                <% if(user){ %>
                <a href="/auth/logout">Logout</a>
                <% } else{ %>
                <a href="/login">Login</a>
                <% } %>


            </div>
        </div>
    </div>
</div>