<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/cirrus.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="splash-img" class="hero fullscreen hero-img parallax-img">
      <div class="hero-body">
          <div class="content text-center">
              <h1 class="lowercase white title"><%= title %></h1>
              <input type="text" placeholder="Enter a keyword to begin" />
              <space></space>
              
              <div class="btn-container">
                  <button class="btn-outline-dark embossed center white">Random Keyword <i class="fa fa-chevron-right pad-right"></i></button>
                  <button class="btn-outline-dark embossed center white">Generate <i class="fa fa-chevron-right pad-left"></i></button>
              </div>
          </div>
      </div>
    </div>

    <space class="x-large"></space>

    <div class="row text-center">
      <h6>Generated pass phrase:</h4>
      <h5 class="light">Some pass phrase goes here.</h3>
      <p class="light">Ctrl + C to copy.</p>
    </div>

    <script src='javascripts/app.js'></script>
    <script src='javascripts/classie.js'></script>
    <script src="https://use.fontawesome.com/a696b91557.js"></script>
  </body>
</html>
