<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/cirrus.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>

    <% include ./partials/nav.ejs %>

    <div id="splash-img" class="hero fullscreen hero-img parallax-img">
      <div class="hero-body">
          <div class="content text-center">
              <h1 class="uppercase white title"><%= title %></h1>
              <% if(user){ %>
              <h4> Welcome, <%= user.user %>.</h4>
              <% } %>
              <input id="phraseInput" type="text" placeholder="Enter a keyword to begin" />
              <space></space>
              
              <div class="btn-container">
                  <a href="#phraseLen">
                      <button id="phraseLenBtn" class="btn-outline-dark embossed center white">Number of Words: 3</button> <!-- TODO: Replace 5 with actual value from route file -->
                  </a>
                  <button id="randomButton" class="btn-outline-dark embossed center white"><i class="fas fa-sync pad-right"></i> Random Keyword</button>
                  <a href="#phraseContainer" class="smoothScroll">
                    <button id="generateButton" class="btn-outline-dark embossed center white">Generate <i class="fa fa-chevron-right pad-left"></i></button>
                  </a>
              </div>
          </div>
      </div>
    </div>

    <!-- MODAL DIALOG FOR PHRASE LENGTH -->
    <div class="modal modal-animated" id="phraseLen">
        <a href="#splash-img" class="modal-overlay close-btn" aria-label="Close"></a>
        <div class="modal-content" role="document">
            <div class="modal-header">
                <a href="#splash-img" class="pull-right" aria-label="Close"><span class="icon"><i class="fa fa-times" aria-hidden="true"></i></span></a>
                <div class="modal-title">Select Phrase Length</div>
            </div>
            <div class="modal-body">
                <h6 class="light">Enter desired length for passphrase length.</h6>
                <input id="phraseLenIn" type="number" value=3 min=3 max=20 />
            </div>
            <div class="modal-footer">
                <div class="row">
                    <a href="#splash-img">
                        <button style="padding: 0 1.5rem;" class="btn-clear btn-small pull-right">Ok</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <space class="x-large"></space>

    <div class="row text-center" id="phraseContainer">
      <h6>Generated pass phrase:</h4>
      <h5 id="passPhrase" class="light">Some pass phrase goes here.</h3>
      <p class="light">Ctrl + C or Cmd + C to copy.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script async src='javascripts/app.js'></script>
    <script async src='javascripts/classie.js'></script>
    <script async src='javascripts/smoothscroll.js'></script>
    <script async src="https://use.fontawesome.com/a696b91557.js"></script>
    <script async src='javascripts/navbar.js'></script>
  </body>
</html>
