<!DOCTYPE html>
<html>

    <head>
        <title><%= title %> - Login</title>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/cirrus.min.css' />
        <link rel='stylesheet' href='/stylesheets/login.css' />
    </head>

    <body>
        <div id="splash-img" class="hero fullscreen hero-img parallax-img">
            <div class="hero-body">
                <div class="content">
                    <div class="row">
                        <div class="row">
                            <div class="col-6">
                                <h3 class="light"><%= title %></h3>
                                <h6 class="light">Passwords of the future.</h6>
                            </div>
                            
                            <div class="col-6">
                                <div class="row">
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="row">
                                    <input type="password" placeholder="Password">
                                </div>
                                <space></space>
                                <div class="row">
                                    <div class="col-3">
                                        <button class="uppercase center phrase-btn btn-animated google-plus">G+</button>
                                    </div>
                                    <div class="col-9">
                                        <button class="uppercase center phrase-btn btn-animated">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>