/**
 * Main app page
 */
body {
  color: #333;
  background: #fff;
}

.hero {
  background: #11998e;  /* fallback for old browsers */
  position: relative;
}

.hero:before {
  background: url(/images/splash.svg) center;
  -webkit-background-size: 5223px 176px;
  background-size: 5223px 176px;
  bottom: 0;
  content: '';
  display: block;
  height: 20%;
  left: 0;
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
}

button.btn-outline-dark {
  color: #404040;
  background: 0 0;
  transition: all .3s;
  border: 1px solid #0000002b;
  box-sizing: border-box;
  backface-visibility: hidden;
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  font-weight: 700;
  outline: none;
  position: relative;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.btn-outline-dark {
	overflow: hidden;
}

.btn-outline-dark:before {
	color: #fff;
	z-index: 1;
}

.btn-outline-dark:after {
  content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 0;
	width: 0;
	background: #79797948;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-outline-dark.btn-activated:after {
	-webkit-animation: prog-right 0.4s forwards;
	-moz-animation: prog-right 0.4s forwards;
	animation: prog-right 0.4s forwards;
}

.btn-outline-dark.embossed {
  -webkit-transition: color .1s ease-in-out,background-color .1s ease-in-out;
  transition: color .1s ease-in-out,background-color .1s ease-in-out;
  -webkit-box-shadow: inset 0 1px 0 hsla(0,0%,100%,.0125), 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.0125), 0 1px 1px rgba(0,0,0,.05);
  border-top-width: .0625rem;
  border-bottom-width: 0.2625rem;
}

.btn-outline-dark.embossed:active {
  /* border-top-width: 0.2625rem;
    border-bottom-width: .0625rem; */
    background: #79797948;
}

@-webkit-keyframes prog-right {
	to { 
    width: 100%;
    opacity: 0.3;
	}
}

@-moz-keyframes prog-right {
	to { 
    width: 100%;
    opacity: 0.3;
	}
}

@keyframes prog-right {
	to { 
    width: 100%;
    opacity: 0.3;
	}
}

.card {
  box-sizing: border-box;
  height: 100%;
  padding: 4rem;
  border: 0;
  box-shadow: none;
}

.card.offset-left {
  margin-right: .5rem;
}

.card.offset-right {
  margin-left: .5rem;
}

.card:hover {
  box-shadow: 0 0 32px 1px rgba(100, 100, 100, 0.15);
}

input[type] {
  background: transparent;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,.25);
  border-radius: 0;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

input[type]:focus {
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,.45);
}

input[type]::placeholder {
  color: rgb(212, 212, 212);
}

#phraseInput {
  color: #fff;
}

.modal-title {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: .2rem;
  font-weight: light;
}

#middleHero {
  background: /* top, transparent teal, faked with gradient */ linear-gradient( #11998ea8, #11998ea8), /* bottom, image */ url("https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0cb694d3428d849afd8518e09a930119&auto=format&fit=crop&w=1200&q=100");
  background-attachment: fixed;
  padding: 4rem 0;
}

.work-card {
  box-shadow: 0 1px 3px 0 rgba(39,58,77,.13), 0 0 20px 5px rgba(26,57,78,.05);
  padding: 2rem;
  border-left: 5px solid #10d3da;
}

#endHero {
  padding: 4rem 0;
  color: #fff;
}